MONGO_URL = "Your MongoDB connection string here"
GOOGLE_OAUTH_CLIENT_ID = "Your Google OAuth Client ID here"
GOOGLE_OAUTH_CLIENT_SECRET = "Your Google OAuth Client Secret here"
GOOGLE_OAUTH_REDIRECT = "Your Google OAuth Redirect URI here"
GOOGLE_AI_API_KEY = "Your Google AI API key here"
GOOGLE_MODEL = "Your Google Model here"
JWT_SECRET = "Your JWT secret key here"
SALT = 10
